<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.social_network_app" >

    <!--AMap-->
    <!--Used to locate the network-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--Used to access GPS location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--Obtain carrier information, which is used to provide interfaces related to carrier information-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--It is used to access wifi network information, which is used to locate the network-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--This permission is used to obtain wifi access permission, wifi information will be used to locate the network-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--Used to access the network. Network positioning requires Internet access-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--Used to read the current state of the phone-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--Write expansion storage, write data to expansion card, used to write cache location data-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--Used to request calls to the A-GPS module-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--It is used to obtain bluetooth information for indoor positioning-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/music"
        android:label="@string/app_name"
        android:roundIcon="@drawable/music"
        android:supportsRtl="true"
        android:theme="@style/Theme.Socialnetworkapp"
        android:name="com.example.social_network_app.GlobalVariable">

        <!--AMap-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="ce5c594efb7c99595ece0f6bc0177dd3">
        </meta-data>

        <!-- Positioning need service adapter Android Q plus Android: foregroundServiceType = "location"-->
        <service
            android:name="com.amap.api.location.APSService"
            />

        <activity
            android:name=".BarActivity"
            android:exported="true" />
        <activity
            android:name=".CommentsActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".UserActivity"
            android:parentActivityName=".CommentsActivity"
            android:launchMode="singleTop"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboard|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <!--android:screenOrientation="portrait"-->
        <activity
            android:name=".LoginActivity"
            tools:ignore="IntentFilterExportedReceiver"
            android:configChanges="orientation|keyboard|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--android:screenOrientation="portrait"-->
        </activity>
        <activity android:name=".RegisterActivity"
            android:configChanges="orientation|keyboard|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden"/>
        <!--android:screenOrientation="portrait"-->
    </application>

</manifest>